body{
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Aref Ruqaa', serif;
  background: skyblue;
  color:CadetBlue;
  
}
.container{
  margin-top: 10px;
}
h1{
  text-align: center;
  font-size: 70px;
  text-shadow: 2px 2px white;
}
form{
  text-align: center;
}
h2{
  text-align: center;
  font-size: 45px;
  border-bottom: 3px double #1E90FF; 
}
input{
  text-align: center;
  width: 164px;
  margin-right: 2px;
  background: transparent;
  border: 1px double #1E90FF;
}
.col{
  /* height: 150px; */
  margin: 10px;
  width: 35%
}
.addPress{
  width: 70px;
  
}
/* .tasks{
  border: 2px solid DarkSlateGray;
}
.done{
  border: 2px solid DarkSlateGray;
} */




li{
  font-size: 29px;
  margin: 10px;
  list-style: none;
  justify-content: center;
  word-break: break-word;
  
}
ul{
  /* display: flex; */
  color: CadetBlue;
  
}
button{
  /* width: 200px; */
  height: 33px;
  /* margin-top: 15px; */
  margin: 3px 13px;
  background-color: Transparent;
  border: Transparent;
  font-size: 18px;
  justify-content: center;
}
/* .editButtons:hover{
  
  animation: colorchange 10s infinite; 
} */
.btn-circle:hover{
  background:white;
  color: #1E90FF;
}
@keyframes colorchange
{
  0%   {
          background:   white;
          color: #1E90FF
      }
  10%   {
          background:   transparent;
          color: white;
  }
  25%  {
          background:   white;
          color: #1E90FF
  }
  35%   {
          background:   transparent;
          color: white;
        }
  50%  {
        background:   white;
        color: #1E90FF
  }
  65%   {
        background:   transparent;
        color: white;
  }
  75%  {
        background:   white;
        color: #1E90FF
  }
  100% {
        background:   transparent;
        color: white;
  }
}

.editing{
  display: flex;
  justify-content: center;
}
.editButtons{
  padding: 0 20px;
  margin: 3px 0px;
  text-shadow: 2px 2px 2px #1E90FF;
  color: white;
}
#timeTable h2{
  text-align: center;
  margin: auto;
}
p{
  text-align: center;
  width: 55%;
}
.completedTasks{
  text-decoration:line-through;
}
.btn-circle {
  width: 30px;
  height: 30px;
  /* padding: 6px 0px; */
  /* margin-top: 20px; */
  border-radius: 15px;
  text-align: center;
  font-size: 19px;
  line-height: 1.42857;
  background: CadetBlue;
  color: white;
  background: transparent;
  text-shadow: 2px 2px 2px #1E90FF;
}
.allItems{
  display: flex;
}
.opt{
  flex-direction:row; 
}
/* ------------ */
* {
	margin: 0;
	padding: 0;
}
.hero {
  min-height: 100vh;
  height: 100%;
	background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, 0 0 / cover no-repeat;
	-webkit-animation: gradientAnimation 40s ease infinite;
	animation: gradientAnimation 40s ease infinite;
}
@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}

/* ----------------- */
/* 



/* 
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
