body{
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Aref Ruqaa', serif;
  background: skyblue;
  color:LightCyan;
}
.container{
  margin-top: 10px;
}
h1{
  text-align: center;
  font-size: 70px;
}
form{
  text-align: center;
}
h2{
  text-align: center;
  font-size: 45px;
}
input{
  text-align: center;
  width: 164px;
  margin-right: 2px;
}
.col{
  /* height: 150px; */
  margin: 10px;
}
.addPress{
  width: 110px;
  
}
.tasks{
  border: 2px solid DarkSlateGray;
}
.done{
  border: 2px solid DarkSlateGray;
}
li{
  font-size: 29px;
  margin: 10px;
}
ul{
  /* display: flex; */
  color: snow;
}
button{
  /* width: 200px; */
  height: 33px;
  /* margin-top: 15px; */
  margin: 3px 13px;

}
.editing{
  display: flex;
  justify-content: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}




/* 
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
